@page "/clientes/nuevo"
@page "/clientes/editar/{Id:int}"
@rendermode InteractiveServer
@inject NavigationManager _navigator
@inject IRepositoryClientes _repositorio

<h2>@_mensaje Cliente</h2>
<EditForm Model="_cliente" FormName="frmCliente" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="row mb-3">
        <label for="txtNombre" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
            <InputText id="txtNombre" class="form-control" @bind-Value="_cliente.Nombre" />
            <ValidationMessage For="@(() => _cliente.Nombre)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtDireccion" class="col-sm-2 col-form-label">Dirección</label>
        <div class="col-sm-10">
            <InputText id="txtDireccion" class="form-control" @bind-Value="_cliente.Direccion" />
            <ValidationMessage For="@(() => _cliente.Direccion)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtTelefono" class="col-sm-2 col-form-label">Teléfono</label>
        <div class="col-sm-10">
            <InputText id="txtTelefono" class="form-control" @bind-Value="_cliente.Telefono" />
            <ValidationMessage For="@(() => _cliente.Telefono)" />
        </div>
    </div>
    <div class="row mb-3">
        <label for="txtCorreo" class="col-sm-2 col-form-label">Correo</label>
        <div class="col-sm-10">
            <InputText id="txtCorreo" class="form-control" @bind-Value="_cliente.Correo" />
            <ValidationMessage For="@(() => _cliente.Correo)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button class="btn btn-danger" @onclick="Cancelar" @onclick:preventDefault>Cancelar</button>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private string _mensaje = "";
    private Cliente? _cliente = new Cliente();
    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            _mensaje = "Editar";
            _cliente = await _repositorio.Get(Id);
        }
        else
        {
            _mensaje = "Nuevo";
        }
    }

    private async Task Guardar()
    {
        if (Id > 0)
        {
            await _repositorio.Update(Id, _cliente!);
        }
        else
        {
            await _repositorio.Add(_cliente!);
        }
        Cancelar();
    }

    private void Cancelar()
    {
        _navigator.NavigateTo("/clientes");
    }
}